body {
  background: none repeat scroll 0 0 #ffffff;
  color: #333333;
  font: 62% "ff-dagny-web-pro-1","ff-dagny-web-pro-2",Palatino, georgia, "times new roman", serif;
  overflow-y: scroll;
}

a {
  color: #007f7f;
  text-decoration: none;
}

p {
  font-size: 1.8em;
  line-height: 1.55em;
  margin-bottom: 1.35em;
}

a:hover {
  text-decoration: underline;
}

ol, ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

#container {
  margin: 0 auto;
  padding: 10px 0;
  width: 1020px;
}

#header {
  padding: 20px 0 0px;
  position: relative;
}

#header h1 a {
  display: block;
  font-size: 5.2em;
  font-weight: bold;
  height: 40px;
  letter-spacing: -0.05em;
  line-height: 1em;
  padding: 5px 0 0 240px;
  text-decoration: none;
}

#logo a {
  display: block;
  float: left;
  width: 205px;
  height: 100px;
  background-image: url("/images/logo2.png");
  background-repeat: no-repeat;
  background-position: 105px 0px;
}

#logo a:hover a {
  -moz-transform: rotate(360deg);
}

#header h2 a {
  margin-top: 20px;
  display: block;
  font-size: 2.6em;
  font-weight: lighter;
  height: 60px;
  line-height: 1em;
  padding: 0 0 0 240px;
  text-decoration: none;
  color: #475258;
}

#main {
  clear: both;
}

#content {
  float: right;
  margin-left: 25px;
  padding: 0 15px;
  width: 765px;
}

#sidebar {
  float: right;
  text-align: right;
  width: 180px;
}

#sidebar a {
  font-weight: bold;
}

#sidebar h3 {
  font-size: 1.9em;
  font-weight: normal;
  line-height: 1.5em;
  margin-bottom: 0.2em;
}

#sidebar ul {
  margin-bottom: 1.2em;

}

#sidebar li {
  font-size: 1.6em;
  margin-bottom: 0.2em;
  list-style-type: ;
}

#sidebar li a:before {
  content: "\00BB \0020";
}

#footer {
  clear: both;
  padding-bottom: 2.5em;
  padding-left: 240px;
  padding-right: 0;
  padding-top: 1em;
}

#footer li {
  border-right-color: #c8c8c8;
  border-right-style: solid;
  border-right-width: 1px;
  display: inline;
  font-size: 1.6em;
  line-height: 1em;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0;
}

#footer li:last-child {
  border-right-style: none;
}

#content h1 {
  border-bottom-color:#DDDDDD;
  border-bottom-style:solid;
  border-bottom-width:1px;
  font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2",Palatino,georgia,"times new roman",serif;
  font-size:1.8em;
  font-weight:100;
  line-height:1.2em;
  padding-bottom: 0.4em;
  margin-bottom: 0.4em;
  font-size: 2.9em;
  font-weight: normal;
  line-height: 1.1em;
}

#content h2 {
  border-bottom-color:#DDDDDD;
  border-bottom-style:solid;
  border-bottom-width:1px;
  font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2",Palatino,georgia,"times new roman",serif;
  font-size:1.8em;
  font-weight:100;
  line-height:1.2em;
  
  font-size: 1.9em;
  font-weight: bold;
  line-height: 1.3em;
  margin-bottom: 1.4em;
}

/* @group FancyFirst */
 .content h1 + p:first-letter {
 font-size: 48px;
 padding: 0 0.15em 0 0;
 margin: 0.05em 0 -0.15em 0;
 line-height: 1em;
 float: left;
}

.content h1 + p:first-line {
 font-variant: small-caps;
 font-size: larger;
}
/* @end */

.meta a {
  font-size: 1.9em;
  line-height: 1.3em;
  margin-bottom: 1.4em;
}

.meta {
  margin-bottom: 2em;
  border-top-color: #C9C9C9; 
  border-top-style: solid;
  border-top-width: 1px; 
  border-bottom-color: #C9C9C9; 
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #F1F1F1;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}

#entries {
  font-size: 0.8em;
  margin-bottom: 4em;
  border-bottom-color:#DDDDDD;
  border-bottom-style:solid;
  border-bottom-width:1px;
  padding-bottom: 4em;
}

#entries a {
  font-size: 2.8em;
}