html {
  overflow: auto;
}

body {
  background: none repeat scroll 0 0 #ffffff;
  color: #333333;
  font: 14pt "ff-dagny-web-pro-1","ff-dagny-web-pro-2",Palatino, georgia, "times new roman", serif;
  overflow: auto;
}

h1 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.4em;
  font-size: 1.6em;
  margin-bottom: 0.4em;
  font-weight: normal;
  line-height: 1.1em;
}

h2 {
  font-weight: bold;
  line-height: 1.3em;
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.3em;
  margin-bottom: 0.25em;
}

a {
  color: #007f7f;
  text-decoration: none;
}

p {
  line-height: 1.55em;
  margin-bottom: 1em;
}

a:hover {
  text-decoration: underline;
}

ol, ul {
  margin: 0 0 1em 2em;
  list-style-position: outside;
  list-style-type: disc;
}

table {
    margin-bottom: 1em;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    color: #007f7f;
    border: 1px solid #c9c9c9;
    text-align: center;
    background-color: #e9e9e9;
}

td {
    border: 1px solid #c9c9c9;
    padding: 2px 10px;
}

blockquote {
  padding: 0 10px;
  font-style: italic;
  color: #777;
}

blockquote em {
  display: block;
  text-align: right;
}

#container {
  margin: 0 auto;
  padding: 10px 0;
  width: 1020px;
}

#header {
  margin: 20px 0 40px 0;
  overflow: hidden;
}

#header a {
  text-decoration: none;
}

#header h1 {
  font-size: 2.8em;
  font-weight: bold;
  border: none;
  margin: 0;
  padding: 10px 0 0 240px;
}

#header h2 {
  margin: 0;
  font-size: 1.4em;
  padding-left: 240px;
  margin-top: -5px;
  font-weight: normal;
}

#header h2 a {
  color: #475258;  
}

#logo a {
  margin-top: 5px;
  display: block;
  float: left;
  width: 205px;
  height: 100px;
  background-image: url("/images/logo2.png");
  background-repeat: no-repeat;
  background-position: 105px 0px;
}

#logo a:hover a {
  -moz-transform: rotate(360deg);
}

#main {
  overflow: hidden;
}

#content {
  float: right;
  margin-left: 25px;
  padding: 0 15px;
  width: 765px;
}

#sidebar {
  float: right;
  text-align: right;
  width: 180px;
}

#sidebar a {
  font-weight: bold;
}

#sidebar h3 {
  font-weight: normal;
  line-height: 1.5em;
  margin-bottom: 0.2em;
}

#sidebar ul {
  margin-bottom: 1.2em;
  list-style-type: none;
}

#sidebar li {
  margin-bottom: 0.2em;
}

#sidebar li a:before {
  content: "\00BB \0020";
}

#footer {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2.5em;
}

#footer ul {
  list-style: none;
}

#footer li {
  border-right-color: #c8c8c8;
  border-right-style: solid;
  border-right-width: 1px;
  display: inline;
  font-size: 0.8em;
  line-height: 1em;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0;
}

#footer li:last-child {
  border-right-style: none;
}

.post-header {
  color: #007F7F;
}

.post-header h1 {
  margin: 0 0 0.25em 0;
}

.post-header h1 a {
  text-decoration: none;
}

.post-header h2 {
  margin-bottom: 0.75em;
  font-weight: normal;
  font-size: 1em;
}

/* @group FancyFirst */
.post-content h1 + p:first-letter {
  font-size: 32pt;
  padding: 0 0.15em 0 0;
  margin: 0.05em 0 -0.15em 0;
  line-height: 1em;
  float: left;
}

.post-content h1 + p:first-line {
 font-variant: small-caps;
 font-size: 1.1em;
}
/* @end */

.meta a {
  font-size: 1.9em;
  line-height: 1.3em;
  margin-bottom: 1.4em;
}

.meta {
  margin-bottom: 2em;
  border-top-color: #C9C9C9; 
  border-top-style: solid;
  border-top-width: 1px; 
  border-bottom-color: #C9C9C9; 
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #F1F1F1;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}

#entries {
  margin-bottom: 3em;
}

#entries ul {
  list-style: none;
  margin: 0 0 1em 0;
}

.bio {
  border-top: 1px solid #C9C9C9; 
  border-bottom: 1px solid #c9c9c9;
  background-color: #F1F1F1;
  padding: 20px;
}

.foto {
  float: left;
  display: block;
  padding: 5px;
  padding-bottom: 2px;
  background-color: white;
  border-color: #C9C9C9;
  border-style: solid;
  border-width: 1px;
}

.desc {
  float: none;
  padding-left: 135px;
}

#desc p {
  margin-left: 120px;
}

.post {
  margin-bottom: 5em;
}

.post p img {
  max-width: 750px;
}

.full {
  width: 750px;
}
