.k, .kd, .kt, .kn, .nb, .nt, .kc {
    color: #c9913a;
    font-weight: bold;
}

.nc, .no {
    color: #c97c04;
}

.nf {
    color: #dfcbac;
}

.s, .s1, .s2, .sh, .sr {
    color: #8eb370;
}

.c, .c1, .x {
    color: #5d575d;
    font-style: italic;
}

code.java .nd {
    color: #7a7591;
}

code.xml .nt {
    font-weight: normal;
}

code {
  font-family: Monaco, monospace;
}

pre {
  font: 0.75em Monaco, monospace;
  line-height: 1.4em;
  color: #ccc;
  background: #202020;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  padding: 0.6em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  margin-bottom: 1em;
}
