<div class="bio">
  <p>Autor: <a href="mailto:mariusz.wiktorczyk@consileon.pl">Mariusz Wiktorczyk</a></p>
  <div class="foto">
      <img src="/images/mariusz_wiktorczyk.jpg" alt="Mariusz Wiktorczyk"/>
  </div>
  <div class="desc">
  <p>
    Programista, konsultant IT.
  </p>
  <p>
    W pracy zajmuje się głównie Javą i bazami danych. Czasami dryfuje w stronę DevOpsów: to skubnie Puppeta/Dockera/Vagranta, poadministruje jakąś bazą, skrobnie skrypt w Groovym, postawi CI/CD na Jenkinsie. Nie jest fanatykiem ani Linuxa ani Windowsa, zaś Maca jeszcze nie macał.
  </p>
  <p>
    Prywatnie prawie 5 lat wolnego czasu grywał w squasha. Teraz bardziej rower w stylu free trial z domieszką enduro.
  </p>
  </div>
</div>
