<div class="bio">
  <p>Autor: <a href="http://andrzejsliwa.com">Andrzej Sliwa</a></p>
  <div class="foto">
    <a href="http://andrzejsliwa.com">
      <img src="/images/andrzej_sliwa.png" alt="Andrzej Sliwa"/>
    </a>
  </div>
  <div class="desc">
  <p>
    Programista, pasjonat, scrum master, konsultant IT. Pasjonuje się językami dynamicznymi, metodami wytwarzania oprogramowania oraz metodologiami prowadzenia projektów, szczególnie dbający o jakość wytwarzanych rozwiązań. Obecnie koncentruje się na rozwoju w zakresie wykorzystywania frameworka Ruby on Rails, skalowanych rozwiązań, cloud computingu i języków funkcyjnych.
  </p>
  </div>
</div>
