<div class="bio">
  <p>Autor: <a href="mailto:marcin.zajac@consileon.pl">Marcin Zaj&#261;c</a></p>
  <div class="foto">
    <a href="mailto:marcin.zajac@consileon.pl">
      <img src="/images/bio_marcin_zajac.jpg" alt="Photo of Marcin Zaj&#261;c"/>
    </a>
  </div>
  <div class="desc">
  <p>
	Konsultant IT, analityk i programista od wielu lat związany z tworzeniem dedykowanych rozwiązań, opartych o infrastrukturę Linux/Unix oraz platformę Java EE, na potrzeby branży finansowej, handlowej i telekomunikacyjnej. Lider zespołu oraz certyfikowany kierownik projektu w zakresie klasycznej metodyki Prince2 oraz zwinnej Agile/Scrum. Wspiera klientów w obszarze inżynierii wymagań, zarządzania projektami oraz projektowania, wytwarzania i wdrażania skalowalnych rozwiązań sprzętowo-programowych o wysokiej dostępności.
  </p>
  </div>
</div>
