<div class="bio">
  <p>Autor: <a href="http://www.consileon.pl/pl/firma/zarzad/marcin_kaczmarek.html">Marcin Kaczmarek</a></p>
  <div class="foto">
    <a href="http://www.consileon.pl/pl/firma/zarzad/marcin_kaczmarek.html">
      <img src="/images/marcin_kaczmarek.jpg" alt="Marcin Kaczmarek"/>
    </a>
  </div>
  <div class="desc">
  <p>Lubi kontakt z ludźmi, a ludzie lubią jego - dlatego też to On głównie odpowiada za kontakty z klientem. W swojej karierze miał okazje prowadzić rozmowy z kilkudziesięcioma klientami głównie zagranicznymi. Wie już co w branży IT chce naprawić i stąd unikalne podejście do tego jak relacje z klientem budować i prowadzić . Przez wiele lat programista, potem prowadzący projekty, obecnie kierujący portfolio projektów i wspierający wiele innych.  Interesuje się nowymi trendami prowadzenia projektów, próbując z powodzeniem wprowadzać je w firmie.
  </p>
  </div>
</div>
