<div class="bio">
  <p>Autor: <a href="http://michalorman.pl">Michał Orman</a></p>
  <div class="foto">
    <a href="http://michalorman.pl">
      <img src="/images/michal_orman.png" alt="Michał Orman"/>
    </a>
  </div>
  <div class="desc">
  <p>
Full-stack web developer, software and solution architect, project manager, agile enthusiast and professional with enterprise background that loves getting things done. Productivity, constant improvement, highest possible quality are his attitudes.
</p>

<p>
  Currently he is working with <em>Ruby on Rails</em> stack and <em>JavaScript</em> but his background includes enterprise development in Java/J2EE, mobile development for Android platform and embedded development in C/C++ for telecom.
</p>

<p>
He is an avid follower of SOLID principles, that loves simple design. Nothing makes him more happy than simple interfaces, small methods and clean code. His toolkit includes UNIX/Linux systems, VIM and of course Git.
  </p>

  <p>
    <a href='http://michalorman.com/' title="Michal Orman's Personal Blog">http://michalorman.com/</a>
  </p>
  </div>
</div>
