<div class="bio">
  <p>Autor: <a href="mailto:lukasz.santarek@consileon.pl">Łukasz Santarek</a></p>
  <div class="foto">
      <img src="/images/lukasz_santarek.jpg" alt="Łukasz Santarek"/>
  </div>
  <div class="desc">
  <p>
    Programista, konsultant IT. Z wykształcenia elektronik, z zamiłowania informatyk. Interesuje się językami programowania, bazami danych oraz technikami i strategiami tworzenia oprogramowania. W pracy zajmuje się głównie Javą, a ostatnio również odnajduje się w tworzeniu aplikacji webowych, opartych głównie na Angularze. W wolnym czasie czyta beletrystykę i książki popularnonaukowe. Czasem można go spotkać w teatrze lub na leśnych szlakach.
  </p>
  </div>
</div>
