<div id="bio">
  <p>Autor: <a href="http://andrzejsliwa.com">Andrzej Sliwa</a></p>
  <div id="foto">
    <img src="/images/andrzej_sliwa.png" alt="Andrzej Sliwa"></img>
  </div>
  <div id="desc">
  <p>
    Programista, pasjonat, scrum master, consultant IT. Pasjonuje się językami dynamicznymi, metodami wytważania oprogramowania oraz metodologiami prowadzenia projektów, szczególnie dbający o jakość wytwarzanych rozwiązań.
    Obecnie koncentruje się na rozwóju w zakresie wykorzystywania frameworka Ruby on Rails, skalowanych rozwiązań, cloud computingu i języków funkcyjnych.
  </p>
  </div>
</div>
