<div class="bio">
  <p>Autor: <a href="mailto:bartlomiej.nicka@consileon.pl">Bartłomiej Nićka</a></p>
  <div class="foto">
      <img src="/images/bartlomiej_nicka.jpg" alt="Bartłomiej Nićka"/>
  </div>
  <div class="desc">
  <p>
    Programista, konsultant IT. 
    Interesuje się technikami i językami programowania - w pracy zajmuje się głównie Javą jak również rozwijaniem aplikacji na platformę iOS (w Objective-C). Bez Linux'a, Bash'a, VIMa i tiling Window Managera (XMonad) prawdopodobnie nie umiałby obsługiwać komputera ;) W wolnym czasie puszcza latawce.
  </p>
  </div>
</div>
