<div class="bio">
  <p>Autor: <a href="http://michalorman.pl">Michał Papis</a></p>
  <div class="foto">
    <a href="http://niczsoft.com/">
      <img src="/images/michal_papis.jpeg" alt="Michał Papis"/>
    </a>
  </div>
  <div class="desc">
  <p>
Programista, pasjonat, administrator, konsultant IT. 
Pasjonuje się programowaniem oraz administracja systemami(Linux). 
W wolnym czasie zajmuje się zdobywaniem wiedzy z zakresu IT, a szczególnie programowania. 
Obecnie realizuje projekty najczęściej używając frameworków Ruby on Rails oraz jQuery.
  </p>
  </div>
</div>
