<div id="bio">
  <p>Autor: <a href="http://michalorman.pl">Michał Orman</a></p>
  <div id="foto">
    <img src="/images/michal_orman.png" alt="Michał Orman"></img>
  </div>
  <div id="desc">
  <p>
  Programista, consultant IT. Pasjonuje się nowoczesnymi technologiami i metodami wytważania oprogramowania, oraz pedantycznie dba o jakość kodu w swoich projektach. Obecnie poświęca swój czas na zgłebianie tajników korporacyjnej Javy EE oraz frameworka Ruby on Rails, 
  a zawodowo zajmuje się szerokopojętym konsultingiem.
  </p>
  </div>
</div>