<div class="bio">
    <p>Autor: <a href="mailto:tomasz.wojcik@consileon.pl">Tomasz Wójcik</a></p>
    <div class="foto">
        <img src="/images/tomasz_wojcik.jpg" alt="Tomasz Wójcik"/>
    </div>
    <div class="desc">
        <p>
        Programista, konsultant IT. W pracy zajmuje się głównie Javą, skrupulatnie zgłębia tajniki Rubyego na szynach. Kiedyś programował gry w C, Objective-C i ActionScript 3 (oraz sterowniki w asemblerze), teraz robi to wyłącznie po pracy. Wielki zwolennik gita.
        </p>
    </div>
</div>
