<div class="bio">
  <p>Autor: <a href="mailto:mariusz.wiktorczyk@consileon.pl">Mariusz Wiktorczyk</a></p>
  <div class="foto">
      <img src="/images/mariusz_wiktorczyk.jpg" alt="Mariusz Wiktorczyk"/>
  </div>
  <div class="desc">
  <p>
    Developer, IT consultant, Software Ninja.
  </p>
  <p>
    He is mainly working with Java and databases. From time to time also a DevOps: some experience with Puppet/Docker/Vagrant, database administration, simple Groovy scripts, setting up CI/CD in Jenkins. He is not devoted to Linux nor Windows, uses both if needed.
  </p>
  <p>
  Privately he spent almost 5 years on squash court. Now he is more into bikes, form free trial to some basic enduro.
  </p>
  </div>
</div>
