<div class="bio">
  <p>Autor: <a href="http://michalorman.pl">Michał Orman</a></p>
  <div class="foto">
    <img src="/images/michal_orman.png" alt="Michał Orman"/>
  </div>
  <div class="desc">
  <p>
Programista, konsultant IT. Pasjonuje się nowoczesnymi technologiami i metodami wytwarzania oprogramowania, oraz pedantycznie dba o jakość kodu w swoich projektach. Obecnie poświęca swój czas na zgłębianie tajników korporacyjnej Javy EE oraz frameworka Ruby on Rails, a zawodowo zajmuje się szeroko pojętym konsultingiem.
  </p>
  </div>
</div>