<div style="background: black;-moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;">
<p style="margin-left: 8px;">
<object width="740" height="490">
  <param name="movie" value="http://www.parleys.com/share/parleysshare2.swf?pageId={{ parleys }}"/>
  <param name="allowFullScreen" value="true"/>
  <param name="pageId" value="{{ parleys }}"/>
  <embed src="http://www.parleys.com/share/parleysshare2.swf?pageId={{ parleys }}" type="application/x-shockwave-flash" allowfullscreen="true" width="740" height="490"/>
</object>
</p>
</div>
