<div style="background: black;-moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;">
  <p style="margin-left: 8px;">
    <object type="application/x-shockwave-flash" data="http://vimeo.com/moogaloop.swf?clip_id={{ vimeo }}&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=7CA300&amp;fullscreen=1" width="750" height="490">
      <param name="allowfullscreen" value="true" />
      <param name="allowscriptaccess" value="always" />
      <param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id={{ vimeo }}&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=7CA300&amp;fullscreen=1" />
    </object>
  </p>
</div>

